<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
  <link href="/css/normalize.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="main-header">
      <img id= "logo" src="/images/logo.png" alt="Logo">
    <div id="buscador">
      <input type= "text">
      <button><i class="fas fa-search"></i></button> 
    </div>
    <p class="icon-header"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav class="site">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="crearCuenta.html">Creá tu cuenta</a></li>
          <div class="icon-header"><i class="far fa-id-card"></i></div>
          <li>Ingresá</li>
          <div class="icon-header"><i class="fas fa-sign-in-alt"></i></div>
          <li>Mis compras</li>
          <div class="icon-header"><i class="fas fa-shopping-basket"></i></div>
        </ul>
      </nav>

    <div class="burger-menu">
      <i class="fas fa-bars" id="bars"></i>
    </div>
  </header>


  <main>
    <img src="/images/img-home-banner.jpg" alt= "Banner">
    
    <h1> Basado en tu última visita</h1>
    <section class="contenedor1">
     <article class="product">
      <img class="product-image" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
      <div class="total">
        <div class="truckie"><i class="fas fa-truck"></i></div>
      <div class= "price-discount">
        <p class="precio">$6.770</p>
        <p class="discount">40% OFF</p>
      </div>
        <p class="descrip">Cafetera Moulinex</p>
      </div>
     </article>

     <article class="product">
      <img class="product-image" src="/images/img-samsung-galaxy-s10.jpg" alt="Celular">
      <div class="total">
          <div class="truckie"><i class="fas fa-truck"></i></div>
        <div class= "price-discount">
          <p class="precio">$70.500</p>
          <p class="discount">10% OFF</p>
        </div>
          <p class="descrip">Samsung Galaxy S10</p>
        </div>
     </article>

     <article class="product">
      <img class="product-image" src="/images/img-tv-samsung-smart.jpg" alt="TV">
      <div class="total">
          <div class="truckie"><i class="fas fa-truck"></i></div>
        <div class= "price-discount"> 
          <p class="precio">$23.200</p>
          <p class="discount">5% OFF</p>
        </div>
          <p class="descrip">SmartTv Samsung 43</p>
        </div>
     </article>
     <article class="product">
     <img class="product-image" src="/images/img-macbook-pro-2019.jpg" alt="Compu">
     <div class="total">
       <div class="truckie"><i class="fas fa-truck"></i></div>
     <div class= "price-discount">
        <p class="precio">$230.000</p>
        <p class="discount">20% OFF</p>
    </div>
    <p class="descrip">MacBook Pro 2019</p>
    </article>
  </section>
  
  <h1> Ofertas </h1>
  <section class="contenedor2">
    <article class="product">
      <img class="product-image" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
      <div class="total">
        <div class="truckie"><i class="fas fa-truck"></i></div>
      <div class= "price-discount">
         <p class="precio">$6.770</p>
         <p class="discount">40% OFF</p>
      </div>
         <p class="descrip">Cafetera Moulinex</p>
      </div>
    </article>

    <article class="product">
      <img class="product-image" src="/images/img-macbook-pro-2019.jpg" alt="Compu">
      <div class="total">
        <div class="truckie"><i class="fas fa-truck"></i></div>
      <div class= "price-discount">
         <p class="precio">$230.000</p>
         <p class="discount">20% OFF</p>
      </div>
         <p class="descrip">MacBook Pro 2019</p>
      </div>
    </article>

    <article class="product">
      <img class="product-image" src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera">
      <div class="total">
        <div class="truckie"><i class="fas fa-truck"></i></div>
      <div class= "price-discount">
        <p class="precio">$70.500</p>
        <p class="discount">10% OFF</p>
      </div>
        <p class="descrip">Samsung Galaxy S10</p>
      </div>
    </article>

    <article class="product">
      <img class="product-image" src="/images/img-tv-samsung-smart.jpg" alt="Cafetera">
      <div class="total">
        <div class="truckie"><i class="fas fa-truck"></i></div>
      <div class= "price-discount">
        <p class="precio">$23.200</p>
        <p class="discount">5% OFF</p>
      </div>
        <p class="descrip">SmartTv Samsung 43</p>
      </div>
    </article>
  </section>

  </main>
  <footer>
    <div class="icon"><i class="fas fa-credit-card"></i></div>
    <strong>Pagá con tarjeta o en efectivo</strong>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
      
    <div class="icon"><i class="fas fa-gift"></i></div>
    <strong>Envío gratis desde $ 2.500</strong>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
      
    <div class="icon"><i class="fas fa-user-shield"></i></div>
    <strong>Seguridad, de principio a fin</strong>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
  </footer>

</body>
</html>