*{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
}

main section article i {
  display: block ;
  font-size: 16px ;
  padding: 5px ;
  width: 30px ;
  height: 30px ;
  border: 1px solid #39b54a ;
  background-color: #FFF ;
  border-radius: 50%;
  right: 20px ;
  top: -15px ;
  }

header{
  background-color: #EAC926;
  width: 90vw;
  text-align: center;
  margin: auto;
}


main{
  background-color: #ebebeb;
  text-align: center;
  width: 90vw;
  margin: auto;
}

footer{
  background-color: #ebebeb;
  padding: 12px;
  width: 90vw;
  text-align: center;
  margin: auto;
}

img{
  width: 100%;
}

ul{
  font-size: 12px;
  list-style: none;
}

h1{
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

article{
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 5px
}

i{
  font-size: 2em;
}

.enviar{
  background-color:#03264C;
  color: white;
  width: 30vw;
}

.enviar:hover{
  background-color:#0022AA;
}

.header-register{
  background-color: white;
}

.cajoncito{
  background-color:#ebebeb;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.caja{
  padding: 10px;
}

.main-header{
  display:flex;
  flex-wrap: flex;
  justify-content: center;
  align-items: center;
}

.product{
  border: 1px solid #ebebeb;
  width: 90%;
  border-radius: 5px;
}

.product:hover{
  box-shadow: 0 0 10px rgb(100, 100,100);
}

.total{
  background-color: white;
  padding: 15px;
  text-align: left;
  display: none;
}

.price-discount{
  display:flex;
  flex-wrap: wrap;
}

.precio{
  font-size: 18px;
}

.discount{
  font-size:16px;
  color: #39b54a;
  padding-left: 10px;
}

.descrip{
  font-size:16px;
  opacity: 0;
}
.descrip:hover{
  opacity: 1;
}

.icon{
  color: #03264C;
  padding: 10px;
  text-align: center;
  font-size: 2em
}

.truckie{
  background-color: white;
  color: #39b54a;
  text-align: left;
  position: relative;
  max-width:2px;
  left: 85%;
  bottom: 30px;
  width: 100%;
  transition: .20s ease all;
}

.truckie:hover{
  transform: rotate(-450deg);
}


.icon-header{
  color: #03264C;
  padding: 10px;
  text-align: center;
}

.product-image{
  border: 10px;
}

#bars{
  color: white;
  background-color: #03264C;
  padding: 6px;
  border-radius:5px;
}

#logo, #buscador{
  width: 50%;
}

#buscador input{
  width: 50%;
}

.site{
  display: none;
}

#login{
  background-color: white;
}

.icon:hover {
  color: #39b54a;
}

@media (min-width: 361px){
  .product{
    box-shadow: 0px 0px 10px rgb (100,100,100);
  }
  .burger-menu{
    display:none;
  }
  .total{
    position: relative;
    display: block;
  }
  article{
    max-width: 50%;
    padding: 10px;
  }
  .contenedor1, .contenedor2{
    display: flex;
    flex-wrap: wrap;
  }

  h1{
    display: block;
  }
  li{
    padding: 10px;
  }
  ul{
    display: flex;
    align-items:center;
  }
  .site{
    display: flex;
    justify-content: space-between;
    }
  }


@media (min-width: 769px){
  article{
    max-width: 25%;
  }
  section{
    display:flex;
    padding-bottom: 20px;
  }
  .icon:hover {
    color: #39b54a;
  }
  .product{
    box-shadow: 0px 0px 10px rgb (100,100,100);
  }
  .main-header{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #logo, #buscador{
    width: 20%;
  }
  #copy{
    margin: 20px;
  }
}
